<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout rows="auto, *" class="page" [height]="screenHeight" (loaded)="onLoaded($event)">
    <StackLayout #bar id="bar" backgroundColor="#3eabc1" row="0" height="80"  >
        <FlexboxLayout>
            <Label text="רשימת נוכחות"></Label>
            <Button text="תצוגה שבועית"></Button>
        </FlexboxLayout>
        <FlexboxLayout>
            <Label text="Add Req"></Label>
            <Label text="Start"></Label>
            <Label text="End {{lastScroll}}"></Label>
        </FlexboxLayout>
    </StackLayout>
    <StackLayout row="1"  id="listView">
        <RadListView (scrolled)="onScroll($event)"  height="100%"
                     (scrollEnded)="onScrollEnded($event)"
                     [items]="items"  #myListView >

            <ng-template let-item="item">
                <StackLayout>
                    <Label [text]="item?.name"> </Label>
                </StackLayout>
            </ng-template>
        </RadListView>
    </StackLayout>

    <GridLayout backgroundColor="#13e29e" #dockedLabelContainer height="40" id="dock" verticalAlignment="top"
                [opacity]="dockedLabelOpacity" class="docked-label-container">
        <StackLayout  [opacity]="dockedLabelOpacity">
            <FlexboxLayout>
                <Label text="Laala "></Label>
                <Label text="Start "></Label>
                <Label text="End "></Label>
            </FlexboxLayout>

        </StackLayout>
    </GridLayout>
</GridLayout>
